* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: Georgia, serif;
    --primary-color: #333;
    --accent1-color: #004e64;
}

body {
    color: #fff;
    background-color: #222;
}

header,
main,
footer {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p,
article {
    margin: 16px;
    padding: 8px;
}

section h2 {
    background-color: #004e64;
    /* banner color */
    color: #ffffff;
    padding: 12px;
    margin: -8px -8px 16px -8px;
    /* stretches banner to section edges */
    text-align: center;
    font-size: 1.4rem;
}

footer .socialmedia a img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
}

.hero article {
    overflow: auto;
}